---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="border-b">
	<nav class="flex items-center justify-between gap-4 max-w-screen-lg mx-auto py-4">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="inline-flex gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/articles">Articles</HeaderLink>
		</div>
	</nav>
</header>

<style>	
</style>
